<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coaching</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/css_calendar.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://kit.fontawesome.com/eb50892c1c.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../script/script.js"></script>
    <script src="../script/calendar.js"></script>

  </head>
    <header>

    <nav>
      <input type="checkbox" id="check" >
      <label for="check" class="checkBtn"> <i class=" fas fa-bars"></i> </label>

        <!-- <label class="logo">Human Ecology</label> -->

      <ul>
        <li>  <a class="activate" href="/addCoaching">Crear nuevo Coachee </a> </li>
        <li> <a class="activate" href="/sesionCoaching">Nueva sesion</a> </li>
        <li><a class="activate" href="/listCoaching">Listado de Coachee</a></li>
        <li><a class="activate" href="/listSession">Listado de Sesiones</a></li>

        <li><a class="activate" href="/commentaryClient">Comentarios</a></li>
        <li><a class="activate" href="/listCommentary">Listado de Comentarios</a></li>
        <li><a class="activate" href="/schedule">Agenda</a></li>
        <li>  <a class="activate" href="/cerrarSesion">Cerrar sesion </a> </li>
      </ul>
    </nav>

  </header>

  <body>

    <div class="divHeader">
    <hr class="hrTitulo">
    </div>
